#navbarMenu {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bold;
        a {
            text-decoration: none;
            color: black;
        }
            li {
                list-style: none;
                color: black;
                text-decoration: none;
                padding-right: 2rem;
            }   
}

#dropdownCategoryMenu {
        li {
            padding-top: 1rem;
            margin-right: 2rem;
        }
}

.appearDropdown {
    display: flex;
    justify-content: center;
    position: absolute;
    min-height: 15rem;
    margin-right: 14rem;
    margin-top: 2rem;
    background-color: beige;
}
