.productCard {
    max-width: 15.625rem;
    min-height: 22.625rem;
}

.productImage {
    width: 15.625rem;
    height: 15.625rem;
}

.productToCardButton {
    padding: 1rem;
}

.minSpaceDescriptionField {
    min-height: 3.375rem;
}

.minSpaceTitleField {
    min-height: 2.25rem;
}