/*||=====> MAX NUMBER OF CLASSES TO GENERATE <=====||*/
$rem-values: 50; 

/*||=====> MARGINS <=====||*/
.m-02e5 {
    margin: 0.5rem;
}

@for $i from 0 through $rem-values { 
    .m-#{$i} {
      margin: $i * 1rem; 
    }
  }

/*||=====> MARGIN +Y-Y <=====||*/
.my-02e5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@for $i from 0 through $rem-values { 
  .my-#{$i} {
    margin-top: $i * 1rem;
    margin-bottom: $i * 1rem; 
  }
}

/*||=====> MARGIN +Y <=====||*/
.mt-02e5 {
    margin-top: 0.5rem;
}

@for $i from 0 through $rem-values { 
    .mt-#{$i} {
      margin-top: $i * 1rem;
    }
  }

/*||=====> MARGIN -Y <=====||*/
.mb-02e5 {
    margin-bottom: 0.5rem;
}

@for $i from 0 through $rem-values { 
    .mb-#{$i} {
      margin-bottom: $i * 1rem;
    }
  }

/*||=====> MARGIN +X-X <=====||*/
.mx-02e5 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

@for $i from 0 through $rem-values { 
    .mx-#{$i} {
      margin-right: $i * 1rem;
      margin-left: $i * 1rem;
    }
  }

/*||=====> MARGIN +X <=====||*/
.mr-02e5 {
    margin-right: 0.5rem;
}

@for $i from 0 through $rem-values { 
    .mr-#{$i} {
      margin-right: $i * 1rem;
    }
  }

/*||=====> MARGIN -X <=====||*/
.ml-02e5 {
    margin-left: 0.5rem;
}

@for $i from 0 through $rem-values { 
    .ml-#{$i} {
      margin-left: $i * 1rem;
    }
  }

/*||=====> PADDINGS <=====||*/
.p-02e5 {
    padding: 0.5rem;
}

@for $i from 0 through $rem-values { 
    .p-#{$i} {
      padding: $i * 1rem; 
    }
  }

/*||=====> PADDING +Y-Y <=====||*/
.py-02e5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@for $i from 0 through $rem-values { 
  .py-#{$i} {
    padding-top: $i * 1rem;
    padding-bottom: $i * 1rem; 
  }
}

/*||=====> PADDING +Y-Y <=====||*/
.py-02e5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@for $i from 0 through $rem-values { 
  .py-#{$i} {
    padding-top: $i * 1rem;
    padding-bottom: $i * 1rem; 
  }
}

/*||=====> PADDING +Y <=====||*/
.pt-02e5 {
    padding-top: 0.5rem;
}

@for $i from 0 through $rem-values { 
  .pt-#{$i} {
    padding-top: $i * 1rem;
  }
}

/*||=====> PADDING -Y <=====||*/
.pb-02e5 {
    padding-bottom: 0.5rem;
}

@for $i from 0 through $rem-values { 
  .pb-#{$i} {
    padding-bottom: $i * 1rem; 
  }
}

/*||=====> PADDING +X-X <=====||*/
.px-02e5 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

@for $i from 0 through $rem-values { 
  .px-#{$i} {
    padding-right: $i * 1rem;
    padding-left: $i * 1rem; 
  }
}

/*||=====> PADDING +X <=====||*/
.pr-02e5 {
    padding-right: 0.5rem;
}

@for $i from 0 through $rem-values { 
  .pr-#{$i} {
    padding-right: $i * 1rem;
  }
}

/*||=====> PADDING -X <=====||*/
.pl-02e5 {
    padding-left: 0.5rem; 
}

@for $i from 0 through $rem-values { 
  .pl-#{$i} {
    padding-left: $i * 1rem; 
  }
}

/*||=====> DIMENSION <=====||*/
/*||=====> WIDTH <=====||*/
@for $i from 0 through $rem-values { 
  .width-#{$i} {
    width: $i * 1rem; 
  }
}

/*||=====> MAX WIDTH <=====||*/
@for $i from 0 through $rem-values { 
  .max-width-#{$i} {
    max-width: $i * 1rem; 
  }
}

/*||=====> MIN WIDTH <=====||*/
@for $i from 0 through $rem-values { 
  .min-width-#{$i} {
    min-width: $i * 1rem; 
  }
}

/*||=====> HEIGHT <=====||*/
@for $i from 0 through $rem-values { 
  .height-#{$i} {
    height: $i * 1rem; 
  }
}

/*||=====> MAX HEIGHT <=====||*/
@for $i from 0 through $rem-values { 
  .max-height-#{$i} {
    max-height: $i * 1rem; 
  }
}

/*||=====> MIN HEIGHT <=====||*/
@for $i from 0 through $rem-values { 
  .min-height-#{$i} {
    min-height: $i * 1rem; 
  }
}
