/*----->_[ MARGIN ]_<-----*/
.m-0 {
    margin: 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-02e5 {
    margin: 0.5rem;
}

/*----->_[ margin +Y-Y ]_<-----*/
.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*----->_[ margin +Y ]_<-----*/
.mt-02e5 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

/*----->_[ margin -Y ]_<-----*/
.mb-02e5 {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

/*----->_[ margin -X]_<-----*/
.ml-02e5 {
    margin-left: 0.5rem;
}

/*----->_[ margin +X]_<-----*/
.mr-02e5 {
    margin-right: 0.5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-8 {
    margin-right: 8rem;
}

.mr-10 {
    margin-right: 13rem;
}

/*----->_[ margin +X-X]_<-----*/
.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

/*----->_[ padding ]_<-----*/
.p-0 {
    padding: 0;
}

.p-02e5 {
    padding: 0.5rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-5 {
    padding: 5rem;
}

/*----->_[ padding -Y ]_<-----*/
.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 1rem;
}

/*----->_[ padding +X ]_<-----*/
.pr-1 {
    padding-right: 0.5rem;
}

/*----->_[ padding +Y-Y ]_<-----*/
.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/*----->_[ DIMENSION ]_<-----*/
/*----->_[ width ]_<-----*/
.w-1 {
    width: 1rem;
}

.w-5 {
    width: 5rem;
}

/*----->_[ max width ]_<-----*/
.max-w-5 {
    max-width: 5rem;
}

.max-w-10 {
    max-width: 10rem;
}

.max-w-15 {
    max-width: 15rem;
}

.max-w-17 {
    max-width: 17rem;
}

.max-w-48 {
    max-width: 48rem;
}

/*----->_[ min width ]_<-----*/
.min-w-1 {
    min-width: 1rem;
}

.min-w-5 {
    min-width: 5rem;
}

.min-w-8 {
    min-width: 8rem;
}

.min-w-15 {
    min-width: 15rem;
}

/*----->_[ height ]_<-----*/
.h-2 {
    height: 2rem;
}

/*----->_[ max height ]_<-----*/
.max-h-1 {
    max-height: 1rem;
}

.max-h-2 {
    max-height: 2rem;
}

/*----->_[ min height ]_<-----*/
.min-h-2 {
    min-height: 2rem;
}

.min-h-3 {
    min-height: 3rem;
}

.min-h-5 {
    min-height: 5rem;
}

.min-h-10 {
    min-height: 10rem;
}

.min-h-12 {
    min-height: 12rem;
}

.min-h-15 {
    min-height: 15rem;
}

.min-h-50 {
    min-height: 50rem;
}

