body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.font-italic {
    font-style: italic;
}

.line-height-12e5 {
    line-height: 1.5rem;
}

/*----->_[ ALIGN ]_<-----*/

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

/*----->_[ COLOR ]_<-----*/

.black {
    color: black;
}

.orangered {
    color: orangered;
}

.white {
    color: snow;
}

/*----->_[ BACKGROUND COLOR ]_<-----*/

.bg-color-1 {
    background-color: #6f4b14c4;
}

.bg-color-2 {
    background-color: #573a057a;
}

.bg-color-3 {
    background-color: ghostwhite;
}

.bg-color-4 {
    background-color: rgb(222, 213, 198);
}

.border-form {
    border-style: solid;
    border-color: snow;
    border-radius: 2rem;
}

.border-users {
    border-style: solid;
    border-color: #565656c4;
    border-radius: 2rem;
}

.border-color-2 {
    border-color: #565656c4;
}

.border-color-3 {
    border-color: ghostwhite;
}

.border-r-02e5 {
    border-radius: 0.5rem;
}


