body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/*----->_[ ALIGN ]_<-----*/

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

/*----->_[ COLOR ]_<-----*/

.black {
    color: black;
}

.orangered {
    color: orangered;
}

/*----->_[ BACKGROUND COLOR ]_<-----*/

.bg-color-1 {
    background-color: #6f4b14c4;
}

.bg-color-2 {
    background-color: #573a057a;
}
