<div class="fullScreenDiv r-flex justify-content-center p-5 bg-color-4">
    <div class="c-flex align-items-center max-height-30 border-form p-3 bg-color-3 txt-center">
        <h2>Documentación recibida</h2>
        <p>Se ha recibido su documentación exitosamente.</p>
        <p>Para dirigirse a la sección de productos puede hacer click <a href="/products">aquí</a></p>
        <p>Si desea volver a la pantalla de login haz click <a href="/">aquí</a></p>
    </div>
</div>