<div class="c-flex align-items-center txt-center">
    <div>
        <h1>Cambio de contraseña</h1>
        <p>El cambio de contraseña consta de 2 instancias que debe realizar:</p>
        <p class="max-w-48">1er instancia: Ingrese a continuación su dirección de correo electrónico. Se enviará un mail para que pueda elegir una nueva contraseña para su cuenta.</p>
        <form method="post" action="/api/session/forgotten-password">
            <div class="c-flex my-1">
                <label class="mb-02e5">Dirección de e-mail</label>
                <div>
                    <input type="email" class="txt-center" placeholder="ejemplo@servidor.com" name="email"/>
                </div>
            </div>
            <button type="submit">Restablecer contraseña</button>
        </form>
        <p class="max-w-48">2da instancia: Seguir las instrucciones del mail enviado a la dirección de correo electrónico que indicó previamente en el formulario para concretar el cambio. Recuerde que la validez del mail generado para cambiar la contraseña es de 1 hora.</p>
    </div>
    <p>Para volver a la pantalla de login haz click <a href="/">aquí</a></p>
</div>