<div class="r-flex justify-content-center p-5 bg-color-4">
    <div class="c-flex align-items-center txt-center max-width-30 border-form p-3 bg-color-3">
        <div>
            <h1>Cambio de contraseña</h1>
            <p>El cambio de contraseña consta de 2 instancias que debe realizar:</p>
            <p class="line-height-12e5"><strong>1er instancia:</strong> Ingrese a continuación su dirección de correo electrónico. Se enviará un mail para que pueda elegir una nueva contraseña para su cuenta.</p>
            <form method="post" action="/api/session/forgotten-password">
                <div class="c-flex mt-3 mb-2">
                    <label class="mb-02e5">Dirección de e-mail:</label>
                    <div>
                        <input type="email" placeholder="ejemplo@servidor.com" name="email" class="p-02e5 border-r-02e5 border-color-3 txt-center font-italic"/>
                    </div>
                </div>
                <button type="submit" class="p-02e5 border-r-02e5 border-color-3">Restablecer contraseña</button>
            </form>
            <p class="my-2 line-height-12e5"><strong>2da instancia:</strong> Seguir las instrucciones del mail enviado a la dirección de correo electrónico que indicó previamente en el formulario para concretar el cambio. Recuerde que la validez del mail generado para cambiar la contraseña es de 1 hora.</p>
        </div>
        <p class="font-italic">Para volver a la pantalla de login haz click <a href="/">aquí</a></p>
    </div>
</div>