<div class="r-flex justify-content-center mt-5">
    <div class="c-flex align-items-center txt-center max-width-30 border-form p-4">
        <div>
            <h1>Cambio de contraseña</h1>
            <p>El cambio de contraseña consta de 2 instancias que debe realizar:</p>
            <p><strong>1er instancia:</strong> Ingrese a continuación su dirección de correo electrónico. Se enviará un mail para que pueda elegir una nueva contraseña para su cuenta.</p>
            <form method="post" action="/api/session/forgotten-password">
                <div class="c-flex mt-3 mb-2">
                    <label class="mb-02e5">Dirección de e-mail</label>
                    <div>
                        <input type="email" class="txt-center" placeholder="ejemplo@servidor.com" name="email"/>
                    </div>
                </div>
                <button type="submit" class="mb-2">Restablecer contraseña</button>
            </form>
            <p><strong>2da instancia:</strong> Seguir las instrucciones del mail enviado a la dirección de correo electrónico que indicó previamente en el formulario para concretar el cambio. Recuerde que la validez del mail generado para cambiar la contraseña es de 1 hora.</p>
        </div>
        <p>Para volver a la pantalla de login haz click <a href="/">aquí</a></p>
    </div>
</div>