<div class="c-flex align-items-center">
        <h1>Login</h1>
        <div class="min-w-15">
            <form id="loginForm" class="txt-center">
                <div class="c-flex">
                    <label class="mb-02e5">Dirección de e-mail</label>
                    <input name="email" class="txt-center" type="email" placeholder="ejemplo@servidor.com"></input>
                </div>
                <div class="c-flex my-1">
                    <label class="mb-02e5">Contraseña</label>
                    <input name="password" class="txt-center" type="password" placeholder="Escriba contraseña aquí"></input>
                </div>
                <div class="r-flex justify-content-center my-2">
                    <input class="w-5 h-2" type="submit"></input>
                </div>
            </form>
        </div>
        <p class="m-0 my-1">¿No estás registrado?</p>
        <p class="m-0">Regístrate haciendo click <a href="/register">aquí</a></p>
        <p class="mt-3">Acceder con Github:</p> 
        <a href="/api/session/github"><img src="./images/icons/github.png" width="64" height="64" alt=""></a>
</div>
<script src="/js/login.js"></script>