<div class="r-flex justify-content-center p-5 bg-color-4">
    <div class="c-flex align-items-center min-width-22 border-form p-3 bg-color-3">
            <h1>Login</h1>
            <div class="min-w-15 mt-2">
                <form id="loginForm" class="txt-center">
                    <div class="c-flex">
                        <label class="mb-02e5">Dirección de e-mail:</label>
                        <input class="p-02e5 border-r-02e5 border-color-3 txt-center font-italic" name="email" class="txt-center" type="email" placeholder="ejemplo@servidor.com"></input>
                    </div>
                    <div class="c-flex my-1">
                        <label class="mb-02e5">Contraseña:</label>
                        <input class="p-02e5 border-r-02e5 border-color-3 txt-center font-italic" name="password" class="txt-center" type="password" placeholder="Su contraseña aquí"></input>
                    </div>
                    <div class="r-flex justify-content-center my-2">
                        <input class="p-02e5 border-r-02e5 border-color-3" type="submit"></input>
                    </div>
                </form>
            </div>
            <p class="m-0 my-1">¿No estás registrado?</p>
            <p class="m-0 font-italic">Regístrate haciendo click <a href="/register">aquí</a></p>
            <p class="m-0 my-1 mt-2">¡ups!...¿Olvidaste tu contraseña? </p>
            <p class="m-0 font-italic">Puedes restablecerla haciendo click <a href="/forgotten-password">aquí</a></p>
            <p class="pt-3">Acceder con Github:</p> 
            <a href="/api/session/github"><img src="./images/icons/github.png" width="64" height="64" alt=""></a>
    </div>
</div>
<script src="/js/login.js"></script>