<div class="c-flex align-items-center">
    <h1 class="txt-center">Tu perfil</h1>
    <div>
        <strong><p>Nombre de usuario:</strong> {{user.name}}</p>
        <strong><p>Direcci贸n de correo electr贸nico:</strong> {{user.email}}</p>
        <strong><p>Edad:</strong> {{user.age}}</p>
        <strong><p>Rol:</strong> {{user.role}}</p>
    </div>
    <p>Ir la secci贸n de productos: <a href="/products">Volver</a></p>
    <a href="/api/session/logout"><button>Cierre su sesi贸n</button></a>
</div>