<div>
<header>
        <nav class="bg-color-1 min-h-12">
            <div class="r-flex justify-content-center align-items-center min-h-12 min-w-15">
                <div>
                    <a href="/products"><img src="./images/icons/brand-logo.png" alt=""></a>
                </div>
                <div class="navbarMenuContainer">
                    <ul id="navbarMenu">
                        <li><a href="/realtimeproducts">Real Time Products</a></li>
                    </ul> 
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1 class="txt-center">Real time products with websockets</h1>

        {{!-- DELETE & ADD PRODUCTS FORM --}}
        <div class="r-flex justify-content-center">
            <div class="p-3 txt-center">
                <h2>Eliminar producto</h2>
                <p>Ingrese el código del producto que desea eliminar:</p>
                <input type="text" id="deleteInput"> <button id="deleteButton">Eliminar producto</button>
            </div>
            <div class="p-3 txt-center">
                <h2>Agregar producto</h2>
                <p>Complete los siguientes campos para agregar el producto:</p>
                <form class="txt-align-center">
                    <label>Categoría:</label><br>
                    <input class="mb-1" type="text" id="categoryInput"><br>
                    <label >Nombre:</label><br>
                    <input class="mb-1" type="text" id="titleInput"><br>
                    <label>Descripción:</label><br>
                    <input class="mb-1" type="text" id="descriptionInput"><br>
                    <label>Precio:</label><br>
                    <input class="mb-1" type="text" id="priceInput"><br>
                    <label>Stock:</label><br>
                    <input class="mb-1" type="text" id="stockInput"><br>
                    <label>Código:</label><br>
                    <input class="mb-1" type="text" id="codeInput"><br>
                    <label>Thumbnail:</label><br>
                    <input class="mb-1" type="text" id="thumbnailInput"><br>
                    <label>Estado:</label><br>
                    <input class="mb-1" type="text" id="statusInput"><br>
                    <button id="addButton">Agregar producto</button>
                </form>
            </div>
        </div>

        {{!-- PRODUCTS CONTAINER RENDER --}}
        <div id="productContainer" class="r-flex justify-content-center wrap">
        </div>
    </main>
    <footer class="min-h-5 bg-color-1">

    </footer> 
</div>

<script src="/socket.io/socket.io.js"></script>

{{!-- Index for MongoDB --}}
<script src="/js/realTimeProducts.js"></script>
<script src="/js/index-mongoDB.js"></script>

{{!-- Index for fileSystem --}}
{{!-- <script src="/js/index-fs.js"></script> --}}