<div class="c-flex align-items-center min-width-22 border-form p-3 bg-color-3">
    <div class="txt-center">
        <h2>¡El registro se ha completado con exito!</h2>
        <p>Puedes dirigirte a la pantalla de login haciendo click <a href="/">aquí</a> y acceder con los datos ingresados en el registro.</p>
        <p>Si quieres pedir un cambio de contraseña puedes hacer click <a href="/forgotten-password">aquí</a></p>
    </div>
</div>