<div class="fullScreenDiv r-flex justify-content-center py-5 bg-color-4">
    <div class="c-flex align-items-center max-width-40 m-2 border-form p-3 bg-color-3 txt-center">
        <h2>¡El proceso de registro falló!</h2>
        <p>Recuerda que la dirección de correo electrónico puede usarse una sola vez para un nuevo registro.</p>
        <p>Si ya te habias registrado y no recuerdas la contraseña puedes pedir un cambio de contraseña siguiendo los pasos indicados en el siguiente link: <a href="/forgotten-password">quiero cambiar mi contraseña</a>.</p>
        <p>Si el fallo persiste prueba en registrarte más tarde.</p>
        <p>Para volver a la pantalla de registro haz click <a href="/register">aquí</a></p>
    </div>
</div>