<div class="fullScreenDiv r-flex justify-content-center p-5 bg-color-4">
    <div class="c-flex align-items-center border-form p-3 bg-color-3">
            <h1>Registro</h1>
            <p>Los campos con un * son obligatorios</p>
            <div class="min-w-15 mt-2">
                <form id="registerForm" class="txt-center">
                    <div class="c-flex">
                        <label class="mb-02e5">Nombre:</label>
                        <input name="first_name" type="text" placeholder="Escriba su nombre aquí" class="p-02e5 border-r-02e5 border-color-3 txt-center font-italic"></input>
                    </div>
                    <div class="c-flex my-1">
                        <label class="mb-02e5">Apellido:</label>
                        <input name="last_name" type="text" placeholder="Escriba su apellido aquí" class="p-02e5 border-r-02e5 border-color-3 txt-center font-italic"></input>
                    </div>
                    <div class="c-flex">
                        <label class="mb-02e5">* Dirección de e-mail:</label>
                        <input name="email" type="email" placeholder="ejemplo@servidor.com" class="p-02e5 border-r-02e5 border-color-3 txt-center font-italic"></input>
                    </div>
                    <div class="c-flex my-1">
                        <label class="mb-02e5">Edad:</label>
                        <input name="age" type="number" placeholder="Escriba su edad aquí" class="p-02e5 border-r-02e5 border-color-3 txt-center font-italic"></input>
                    </div>
                    <div class="c-flex">
                        <label class="mb-02e5">* Contraseña:</label>
                        <input name="password" type="password" placeholder="Su contraseña aquí" class="p-02e5 border-r-02e5 border-color-3 txt-center font-italic"></input>
                    </div>
                    <div class="r-flex justify-content-center my-2">
                        <input class="p-02e5 border-r-02e5 border-color-3" type="submit"></input>
                    </div>
                </form>
            </div>
            <p>¿Ya tenés una cuenta?</p>
            <p class="font-italic m-0">Ingrese a su cuenta haciendo click <a href="/">aquí</a></p>
    </div>
</div>
<script src="/js/register.js"></script>