<div class="c-flex align-items-center">
        <h1>Registro</h1>
        <div class="min-w-15">
            <form id="registerForm" class="txt-center">
                <div class="c-flex">
                    <label class="mb-02e5">Nombre</label>
                    <input name="first_name" class="txt-center" type="text" placeholder="Escriba su nombre aquí"></input>
                </div>
                <div class="c-flex my-1">
                    <label class="mb-02e5">Apellido</label>
                    <input name="last_name" class="txt-center" type="text" placeholder="Escriba su apellido aquí"></input>
                </div>
                <div class="c-flex">
                    <label class="mb-02e5">Dirección de e-mail</label>
                    <input name="email" class="txt-center" type="email" placeholder="ejemplo@servidor.com"></input>
                </div>
                <div class="c-flex my-1">
                    <label class="mb-02e5">Edad</label>
                    <input name="age" class="txt-center" type="number" placeholder="Escriba su edad aquí"></input>
                </div>
                <div class="c-flex">
                    <label class="mb-02e5">Contraseña</label>
                    <input name="password" class="txt-center" type="password" placeholder="Escriba contraseña aquí"></input>
                </div>
                <div class="r-flex justify-content-center my-2">
                    <input class="w-5 h-2" type="submit"></input>
                </div>
            </form>
        </div>
        <p>¿Ya tenés una cuenta?</p>
        <p>Ingrese a su cuenta haciendo click <a href="/">aquí</a></p>
</div>
<script src="/js/register.js"></script>