<div class="fullScreenDiv r-flex justify-content-center py-5 bg-color-4">
    <div class="c-flex align-items-center txt-center max-height-40 max-width-40 m-2 border-form p-3 bg-color-3">
            <h1>Restablecer contraseña</h1>
            <h3 class="mb-3">Ingresa tu nueva contraseña</h3>
            <form method="post" action="/api/session/reset-password?token={{token}}" class="txt-center">
                <div class="c-flex align-items-center">
                    <div class="c-flex">
                        <label class="mb-02e5">Dirección de e-mail</label>
                        <input type="email" class="p-02e5 border-r-02e5 border-color-3 txt-center font-italic" placeholder="ejemplo@servidor.com" name="email"/>
                        <label class="mt-2 mb-02e5">Nueva contraseña</label>
                        <input class="p-02e5 border-r-02e5 border-color-3 txt-center font-italic mb-2" type="password" placeholder="nueva contraseña" name="newPassword"/>
                    </div>
                    <button type="submit" class="p-02e5 border-r-02e5 border-color-3 mt-1">Restablecer contraseña</button>
                </div>
            </form>      
        <p class="my-4">Para volver a la pantalla de login haz click <a href="/">aquí</a></p>
    </div>
</div>
