<div class="c-flex align-items-center txt-center">
    <div>
        <h2>¡Mail enviado exitosamente!</h2>
        <p>No te olvides que la validez del link generado para restablecer la contraseña es de 1 hora.</p>
    </div>
    <p>Para volver a la pantalla de login haz click <a href="/">aquí</a></p>
</div>