<div class="fullScreenDiv r-flex justify-content-center py-5 bg-color-4">
    <div class="c-flex align-items-center txt-center max-height-40 max-width-40 m-2 border-form p-3 bg-color-3">
        <h1>Contraseña Restablecida</h1>
        <p>Su contraseña fue restablecida exitosamente.</p>
        <p>A partir de este momento usted puede loguearse utilizando su nueva contraseña.</p>    
        <p class="my-4">Para volver a la pantalla de login haz click <a href="/">aquí</a></p>
    </div>
</div>
