<div class="c-flex align-items-center txt-center">
    <div>
        <h2>¡Ha ocurrido un error con tu enlace!</h2>
        <p>Al parecer el link con el que accediste para restablecer tu contraseña ha expirado.</p>
        <p>No te olvides que la validez del link generado para restablecer la contraseña es de 1 hora.</p>
        <p>Si quieres volver a pedir un cambio de contraseña puedes hacer click <a href="/forgotten-password">aquí</a></p>
    </div>
    <p>Para volver a la pantalla de login haz click <a href="/">aquí</a></p>
</div>