<div class="c-flex align-items-center txt-center">
    <div>
        <h2>¡Su solicitud ha sido completada exitosamente!</h2>
    </div>
    <p>Para dirigirse a la sección de productos puede hacer click <a href="/products">aquí</a></p>
    <p>Si desea volver a la pantalla de login haz click <a href="/">aquí</a></p>
</div>