body {
    padding: 2rem;
}

.txt-align-center {
    text-align: center;
}

.flex-row-center {
    display: flex;
    justify-content: center;
}

.flex-row-space {
    display: flex;
    justify-content: space-around
}

.mb-1 {
    margin-bottom: 1rem;
}

.pad-3 {
    padding: 3rem;
}

