body {
    padding: 2rem;
}

.txt-align-center {
    text-align: center;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-column-center {
    display: flex;
    justify-content: center;
}

.flex-row-space {
    display: flex;
    justify-content: space-around
}

.m-05 {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.pad-05 {
    padding: 0.5rem;
}

.pad-1 {
    padding: 1rem;
}

.pad-2 {
    padding: 2rem;
}

.pad-3 {
    padding: 3rem;
}

.hiden {
    display: none
}

.chatInput {
    width: 40rem;
    height: 1rem;
    padding-bottom: 1rem;
    text-align: start;
}

.productCard {
    max-width: 15.625rem;
    min-height: 22.625rem;
}

.productImage {
    width: 15.625rem;
    height: 15.625rem;
}
.productToCardButton {
    padding: 1rem;
}

.minSpaceDescriptionField {
    min-height: 3.375rem;
}

.minSpaceTitleField {
    min-height: 2.25rem;
}




