/*||=====> MARGINS <=====||*/
.m-02e5 {
  margin: 0.5rem; }

.m-0 {
  margin: 0rem; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.m-4 {
  margin: 4rem; }

.m-5 {
  margin: 5rem; }

.m-6 {
  margin: 6rem; }

.m-7 {
  margin: 7rem; }

.m-8 {
  margin: 8rem; }

.m-9 {
  margin: 9rem; }

.m-10 {
  margin: 10rem; }

.m-11 {
  margin: 11rem; }

.m-12 {
  margin: 12rem; }

.m-13 {
  margin: 13rem; }

.m-14 {
  margin: 14rem; }

.m-15 {
  margin: 15rem; }

.m-16 {
  margin: 16rem; }

.m-17 {
  margin: 17rem; }

.m-18 {
  margin: 18rem; }

.m-19 {
  margin: 19rem; }

.m-20 {
  margin: 20rem; }

.m-21 {
  margin: 21rem; }

.m-22 {
  margin: 22rem; }

.m-23 {
  margin: 23rem; }

.m-24 {
  margin: 24rem; }

.m-25 {
  margin: 25rem; }

.m-26 {
  margin: 26rem; }

.m-27 {
  margin: 27rem; }

.m-28 {
  margin: 28rem; }

.m-29 {
  margin: 29rem; }

.m-30 {
  margin: 30rem; }

.m-31 {
  margin: 31rem; }

.m-32 {
  margin: 32rem; }

.m-33 {
  margin: 33rem; }

.m-34 {
  margin: 34rem; }

.m-35 {
  margin: 35rem; }

.m-36 {
  margin: 36rem; }

.m-37 {
  margin: 37rem; }

.m-38 {
  margin: 38rem; }

.m-39 {
  margin: 39rem; }

.m-40 {
  margin: 40rem; }

.m-41 {
  margin: 41rem; }

.m-42 {
  margin: 42rem; }

.m-43 {
  margin: 43rem; }

.m-44 {
  margin: 44rem; }

.m-45 {
  margin: 45rem; }

.m-46 {
  margin: 46rem; }

.m-47 {
  margin: 47rem; }

.m-48 {
  margin: 48rem; }

.m-49 {
  margin: 49rem; }

.m-50 {
  margin: 50rem; }

/*||=====> MARGIN +Y-Y <=====||*/
.my-02e5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.my-7 {
  margin-top: 7rem;
  margin-bottom: 7rem; }

.my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem; }

.my-9 {
  margin-top: 9rem;
  margin-bottom: 9rem; }

.my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem; }

.my-11 {
  margin-top: 11rem;
  margin-bottom: 11rem; }

.my-12 {
  margin-top: 12rem;
  margin-bottom: 12rem; }

.my-13 {
  margin-top: 13rem;
  margin-bottom: 13rem; }

.my-14 {
  margin-top: 14rem;
  margin-bottom: 14rem; }

.my-15 {
  margin-top: 15rem;
  margin-bottom: 15rem; }

.my-16 {
  margin-top: 16rem;
  margin-bottom: 16rem; }

.my-17 {
  margin-top: 17rem;
  margin-bottom: 17rem; }

.my-18 {
  margin-top: 18rem;
  margin-bottom: 18rem; }

.my-19 {
  margin-top: 19rem;
  margin-bottom: 19rem; }

.my-20 {
  margin-top: 20rem;
  margin-bottom: 20rem; }

.my-21 {
  margin-top: 21rem;
  margin-bottom: 21rem; }

.my-22 {
  margin-top: 22rem;
  margin-bottom: 22rem; }

.my-23 {
  margin-top: 23rem;
  margin-bottom: 23rem; }

.my-24 {
  margin-top: 24rem;
  margin-bottom: 24rem; }

.my-25 {
  margin-top: 25rem;
  margin-bottom: 25rem; }

.my-26 {
  margin-top: 26rem;
  margin-bottom: 26rem; }

.my-27 {
  margin-top: 27rem;
  margin-bottom: 27rem; }

.my-28 {
  margin-top: 28rem;
  margin-bottom: 28rem; }

.my-29 {
  margin-top: 29rem;
  margin-bottom: 29rem; }

.my-30 {
  margin-top: 30rem;
  margin-bottom: 30rem; }

.my-31 {
  margin-top: 31rem;
  margin-bottom: 31rem; }

.my-32 {
  margin-top: 32rem;
  margin-bottom: 32rem; }

.my-33 {
  margin-top: 33rem;
  margin-bottom: 33rem; }

.my-34 {
  margin-top: 34rem;
  margin-bottom: 34rem; }

.my-35 {
  margin-top: 35rem;
  margin-bottom: 35rem; }

.my-36 {
  margin-top: 36rem;
  margin-bottom: 36rem; }

.my-37 {
  margin-top: 37rem;
  margin-bottom: 37rem; }

.my-38 {
  margin-top: 38rem;
  margin-bottom: 38rem; }

.my-39 {
  margin-top: 39rem;
  margin-bottom: 39rem; }

.my-40 {
  margin-top: 40rem;
  margin-bottom: 40rem; }

.my-41 {
  margin-top: 41rem;
  margin-bottom: 41rem; }

.my-42 {
  margin-top: 42rem;
  margin-bottom: 42rem; }

.my-43 {
  margin-top: 43rem;
  margin-bottom: 43rem; }

.my-44 {
  margin-top: 44rem;
  margin-bottom: 44rem; }

.my-45 {
  margin-top: 45rem;
  margin-bottom: 45rem; }

.my-46 {
  margin-top: 46rem;
  margin-bottom: 46rem; }

.my-47 {
  margin-top: 47rem;
  margin-bottom: 47rem; }

.my-48 {
  margin-top: 48rem;
  margin-bottom: 48rem; }

.my-49 {
  margin-top: 49rem;
  margin-bottom: 49rem; }

.my-50 {
  margin-top: 50rem;
  margin-bottom: 50rem; }

/*||=====> MARGIN +Y <=====||*/
.mt-02e5 {
  margin-top: 0.5rem; }

.mt-0 {
  margin-top: 0rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-6 {
  margin-top: 6rem; }

.mt-7 {
  margin-top: 7rem; }

.mt-8 {
  margin-top: 8rem; }

.mt-9 {
  margin-top: 9rem; }

.mt-10 {
  margin-top: 10rem; }

.mt-11 {
  margin-top: 11rem; }

.mt-12 {
  margin-top: 12rem; }

.mt-13 {
  margin-top: 13rem; }

.mt-14 {
  margin-top: 14rem; }

.mt-15 {
  margin-top: 15rem; }

.mt-16 {
  margin-top: 16rem; }

.mt-17 {
  margin-top: 17rem; }

.mt-18 {
  margin-top: 18rem; }

.mt-19 {
  margin-top: 19rem; }

.mt-20 {
  margin-top: 20rem; }

.mt-21 {
  margin-top: 21rem; }

.mt-22 {
  margin-top: 22rem; }

.mt-23 {
  margin-top: 23rem; }

.mt-24 {
  margin-top: 24rem; }

.mt-25 {
  margin-top: 25rem; }

.mt-26 {
  margin-top: 26rem; }

.mt-27 {
  margin-top: 27rem; }

.mt-28 {
  margin-top: 28rem; }

.mt-29 {
  margin-top: 29rem; }

.mt-30 {
  margin-top: 30rem; }

.mt-31 {
  margin-top: 31rem; }

.mt-32 {
  margin-top: 32rem; }

.mt-33 {
  margin-top: 33rem; }

.mt-34 {
  margin-top: 34rem; }

.mt-35 {
  margin-top: 35rem; }

.mt-36 {
  margin-top: 36rem; }

.mt-37 {
  margin-top: 37rem; }

.mt-38 {
  margin-top: 38rem; }

.mt-39 {
  margin-top: 39rem; }

.mt-40 {
  margin-top: 40rem; }

.mt-41 {
  margin-top: 41rem; }

.mt-42 {
  margin-top: 42rem; }

.mt-43 {
  margin-top: 43rem; }

.mt-44 {
  margin-top: 44rem; }

.mt-45 {
  margin-top: 45rem; }

.mt-46 {
  margin-top: 46rem; }

.mt-47 {
  margin-top: 47rem; }

.mt-48 {
  margin-top: 48rem; }

.mt-49 {
  margin-top: 49rem; }

.mt-50 {
  margin-top: 50rem; }

/*||=====> MARGIN -Y <=====||*/
.mb-02e5 {
  margin-bottom: 0.5rem; }

.mb-0 {
  margin-bottom: 0rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-7 {
  margin-bottom: 7rem; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-9 {
  margin-bottom: 9rem; }

.mb-10 {
  margin-bottom: 10rem; }

.mb-11 {
  margin-bottom: 11rem; }

.mb-12 {
  margin-bottom: 12rem; }

.mb-13 {
  margin-bottom: 13rem; }

.mb-14 {
  margin-bottom: 14rem; }

.mb-15 {
  margin-bottom: 15rem; }

.mb-16 {
  margin-bottom: 16rem; }

.mb-17 {
  margin-bottom: 17rem; }

.mb-18 {
  margin-bottom: 18rem; }

.mb-19 {
  margin-bottom: 19rem; }

.mb-20 {
  margin-bottom: 20rem; }

.mb-21 {
  margin-bottom: 21rem; }

.mb-22 {
  margin-bottom: 22rem; }

.mb-23 {
  margin-bottom: 23rem; }

.mb-24 {
  margin-bottom: 24rem; }

.mb-25 {
  margin-bottom: 25rem; }

.mb-26 {
  margin-bottom: 26rem; }

.mb-27 {
  margin-bottom: 27rem; }

.mb-28 {
  margin-bottom: 28rem; }

.mb-29 {
  margin-bottom: 29rem; }

.mb-30 {
  margin-bottom: 30rem; }

.mb-31 {
  margin-bottom: 31rem; }

.mb-32 {
  margin-bottom: 32rem; }

.mb-33 {
  margin-bottom: 33rem; }

.mb-34 {
  margin-bottom: 34rem; }

.mb-35 {
  margin-bottom: 35rem; }

.mb-36 {
  margin-bottom: 36rem; }

.mb-37 {
  margin-bottom: 37rem; }

.mb-38 {
  margin-bottom: 38rem; }

.mb-39 {
  margin-bottom: 39rem; }

.mb-40 {
  margin-bottom: 40rem; }

.mb-41 {
  margin-bottom: 41rem; }

.mb-42 {
  margin-bottom: 42rem; }

.mb-43 {
  margin-bottom: 43rem; }

.mb-44 {
  margin-bottom: 44rem; }

.mb-45 {
  margin-bottom: 45rem; }

.mb-46 {
  margin-bottom: 46rem; }

.mb-47 {
  margin-bottom: 47rem; }

.mb-48 {
  margin-bottom: 48rem; }

.mb-49 {
  margin-bottom: 49rem; }

.mb-50 {
  margin-bottom: 50rem; }

/*||=====> MARGIN +X-X <=====||*/
.mx-02e5 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.mx-0 {
  margin-right: 0rem;
  margin-left: 0rem; }

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem; }

.mx-2 {
  margin-right: 2rem;
  margin-left: 2rem; }

.mx-3 {
  margin-right: 3rem;
  margin-left: 3rem; }

.mx-4 {
  margin-right: 4rem;
  margin-left: 4rem; }

.mx-5 {
  margin-right: 5rem;
  margin-left: 5rem; }

.mx-6 {
  margin-right: 6rem;
  margin-left: 6rem; }

.mx-7 {
  margin-right: 7rem;
  margin-left: 7rem; }

.mx-8 {
  margin-right: 8rem;
  margin-left: 8rem; }

.mx-9 {
  margin-right: 9rem;
  margin-left: 9rem; }

.mx-10 {
  margin-right: 10rem;
  margin-left: 10rem; }

.mx-11 {
  margin-right: 11rem;
  margin-left: 11rem; }

.mx-12 {
  margin-right: 12rem;
  margin-left: 12rem; }

.mx-13 {
  margin-right: 13rem;
  margin-left: 13rem; }

.mx-14 {
  margin-right: 14rem;
  margin-left: 14rem; }

.mx-15 {
  margin-right: 15rem;
  margin-left: 15rem; }

.mx-16 {
  margin-right: 16rem;
  margin-left: 16rem; }

.mx-17 {
  margin-right: 17rem;
  margin-left: 17rem; }

.mx-18 {
  margin-right: 18rem;
  margin-left: 18rem; }

.mx-19 {
  margin-right: 19rem;
  margin-left: 19rem; }

.mx-20 {
  margin-right: 20rem;
  margin-left: 20rem; }

.mx-21 {
  margin-right: 21rem;
  margin-left: 21rem; }

.mx-22 {
  margin-right: 22rem;
  margin-left: 22rem; }

.mx-23 {
  margin-right: 23rem;
  margin-left: 23rem; }

.mx-24 {
  margin-right: 24rem;
  margin-left: 24rem; }

.mx-25 {
  margin-right: 25rem;
  margin-left: 25rem; }

.mx-26 {
  margin-right: 26rem;
  margin-left: 26rem; }

.mx-27 {
  margin-right: 27rem;
  margin-left: 27rem; }

.mx-28 {
  margin-right: 28rem;
  margin-left: 28rem; }

.mx-29 {
  margin-right: 29rem;
  margin-left: 29rem; }

.mx-30 {
  margin-right: 30rem;
  margin-left: 30rem; }

.mx-31 {
  margin-right: 31rem;
  margin-left: 31rem; }

.mx-32 {
  margin-right: 32rem;
  margin-left: 32rem; }

.mx-33 {
  margin-right: 33rem;
  margin-left: 33rem; }

.mx-34 {
  margin-right: 34rem;
  margin-left: 34rem; }

.mx-35 {
  margin-right: 35rem;
  margin-left: 35rem; }

.mx-36 {
  margin-right: 36rem;
  margin-left: 36rem; }

.mx-37 {
  margin-right: 37rem;
  margin-left: 37rem; }

.mx-38 {
  margin-right: 38rem;
  margin-left: 38rem; }

.mx-39 {
  margin-right: 39rem;
  margin-left: 39rem; }

.mx-40 {
  margin-right: 40rem;
  margin-left: 40rem; }

.mx-41 {
  margin-right: 41rem;
  margin-left: 41rem; }

.mx-42 {
  margin-right: 42rem;
  margin-left: 42rem; }

.mx-43 {
  margin-right: 43rem;
  margin-left: 43rem; }

.mx-44 {
  margin-right: 44rem;
  margin-left: 44rem; }

.mx-45 {
  margin-right: 45rem;
  margin-left: 45rem; }

.mx-46 {
  margin-right: 46rem;
  margin-left: 46rem; }

.mx-47 {
  margin-right: 47rem;
  margin-left: 47rem; }

.mx-48 {
  margin-right: 48rem;
  margin-left: 48rem; }

.mx-49 {
  margin-right: 49rem;
  margin-left: 49rem; }

.mx-50 {
  margin-right: 50rem;
  margin-left: 50rem; }

/*||=====> MARGIN +X <=====||*/
.mr-02e5 {
  margin-right: 0.5rem; }

.mr-0 {
  margin-right: 0rem; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mr-5 {
  margin-right: 5rem; }

.mr-6 {
  margin-right: 6rem; }

.mr-7 {
  margin-right: 7rem; }

.mr-8 {
  margin-right: 8rem; }

.mr-9 {
  margin-right: 9rem; }

.mr-10 {
  margin-right: 10rem; }

.mr-11 {
  margin-right: 11rem; }

.mr-12 {
  margin-right: 12rem; }

.mr-13 {
  margin-right: 13rem; }

.mr-14 {
  margin-right: 14rem; }

.mr-15 {
  margin-right: 15rem; }

.mr-16 {
  margin-right: 16rem; }

.mr-17 {
  margin-right: 17rem; }

.mr-18 {
  margin-right: 18rem; }

.mr-19 {
  margin-right: 19rem; }

.mr-20 {
  margin-right: 20rem; }

.mr-21 {
  margin-right: 21rem; }

.mr-22 {
  margin-right: 22rem; }

.mr-23 {
  margin-right: 23rem; }

.mr-24 {
  margin-right: 24rem; }

.mr-25 {
  margin-right: 25rem; }

.mr-26 {
  margin-right: 26rem; }

.mr-27 {
  margin-right: 27rem; }

.mr-28 {
  margin-right: 28rem; }

.mr-29 {
  margin-right: 29rem; }

.mr-30 {
  margin-right: 30rem; }

.mr-31 {
  margin-right: 31rem; }

.mr-32 {
  margin-right: 32rem; }

.mr-33 {
  margin-right: 33rem; }

.mr-34 {
  margin-right: 34rem; }

.mr-35 {
  margin-right: 35rem; }

.mr-36 {
  margin-right: 36rem; }

.mr-37 {
  margin-right: 37rem; }

.mr-38 {
  margin-right: 38rem; }

.mr-39 {
  margin-right: 39rem; }

.mr-40 {
  margin-right: 40rem; }

.mr-41 {
  margin-right: 41rem; }

.mr-42 {
  margin-right: 42rem; }

.mr-43 {
  margin-right: 43rem; }

.mr-44 {
  margin-right: 44rem; }

.mr-45 {
  margin-right: 45rem; }

.mr-46 {
  margin-right: 46rem; }

.mr-47 {
  margin-right: 47rem; }

.mr-48 {
  margin-right: 48rem; }

.mr-49 {
  margin-right: 49rem; }

.mr-50 {
  margin-right: 50rem; }

/*||=====> MARGIN -X <=====||*/
.ml-02e5 {
  margin-left: 0.5rem; }

.ml-0 {
  margin-left: 0rem; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.ml-6 {
  margin-left: 6rem; }

.ml-7 {
  margin-left: 7rem; }

.ml-8 {
  margin-left: 8rem; }

.ml-9 {
  margin-left: 9rem; }

.ml-10 {
  margin-left: 10rem; }

.ml-11 {
  margin-left: 11rem; }

.ml-12 {
  margin-left: 12rem; }

.ml-13 {
  margin-left: 13rem; }

.ml-14 {
  margin-left: 14rem; }

.ml-15 {
  margin-left: 15rem; }

.ml-16 {
  margin-left: 16rem; }

.ml-17 {
  margin-left: 17rem; }

.ml-18 {
  margin-left: 18rem; }

.ml-19 {
  margin-left: 19rem; }

.ml-20 {
  margin-left: 20rem; }

.ml-21 {
  margin-left: 21rem; }

.ml-22 {
  margin-left: 22rem; }

.ml-23 {
  margin-left: 23rem; }

.ml-24 {
  margin-left: 24rem; }

.ml-25 {
  margin-left: 25rem; }

.ml-26 {
  margin-left: 26rem; }

.ml-27 {
  margin-left: 27rem; }

.ml-28 {
  margin-left: 28rem; }

.ml-29 {
  margin-left: 29rem; }

.ml-30 {
  margin-left: 30rem; }

.ml-31 {
  margin-left: 31rem; }

.ml-32 {
  margin-left: 32rem; }

.ml-33 {
  margin-left: 33rem; }

.ml-34 {
  margin-left: 34rem; }

.ml-35 {
  margin-left: 35rem; }

.ml-36 {
  margin-left: 36rem; }

.ml-37 {
  margin-left: 37rem; }

.ml-38 {
  margin-left: 38rem; }

.ml-39 {
  margin-left: 39rem; }

.ml-40 {
  margin-left: 40rem; }

.ml-41 {
  margin-left: 41rem; }

.ml-42 {
  margin-left: 42rem; }

.ml-43 {
  margin-left: 43rem; }

.ml-44 {
  margin-left: 44rem; }

.ml-45 {
  margin-left: 45rem; }

.ml-46 {
  margin-left: 46rem; }

.ml-47 {
  margin-left: 47rem; }

.ml-48 {
  margin-left: 48rem; }

.ml-49 {
  margin-left: 49rem; }

.ml-50 {
  margin-left: 50rem; }

/*||=====> PADDINGS <=====||*/
.p-02e5 {
  padding: 0.5rem; }

.p-0 {
  padding: 0rem; }

.p-1 {
  padding: 1rem; }

.p-2 {
  padding: 2rem; }

.p-3 {
  padding: 3rem; }

.p-4 {
  padding: 4rem; }

.p-5 {
  padding: 5rem; }

.p-6 {
  padding: 6rem; }

.p-7 {
  padding: 7rem; }

.p-8 {
  padding: 8rem; }

.p-9 {
  padding: 9rem; }

.p-10 {
  padding: 10rem; }

.p-11 {
  padding: 11rem; }

.p-12 {
  padding: 12rem; }

.p-13 {
  padding: 13rem; }

.p-14 {
  padding: 14rem; }

.p-15 {
  padding: 15rem; }

.p-16 {
  padding: 16rem; }

.p-17 {
  padding: 17rem; }

.p-18 {
  padding: 18rem; }

.p-19 {
  padding: 19rem; }

.p-20 {
  padding: 20rem; }

.p-21 {
  padding: 21rem; }

.p-22 {
  padding: 22rem; }

.p-23 {
  padding: 23rem; }

.p-24 {
  padding: 24rem; }

.p-25 {
  padding: 25rem; }

.p-26 {
  padding: 26rem; }

.p-27 {
  padding: 27rem; }

.p-28 {
  padding: 28rem; }

.p-29 {
  padding: 29rem; }

.p-30 {
  padding: 30rem; }

.p-31 {
  padding: 31rem; }

.p-32 {
  padding: 32rem; }

.p-33 {
  padding: 33rem; }

.p-34 {
  padding: 34rem; }

.p-35 {
  padding: 35rem; }

.p-36 {
  padding: 36rem; }

.p-37 {
  padding: 37rem; }

.p-38 {
  padding: 38rem; }

.p-39 {
  padding: 39rem; }

.p-40 {
  padding: 40rem; }

.p-41 {
  padding: 41rem; }

.p-42 {
  padding: 42rem; }

.p-43 {
  padding: 43rem; }

.p-44 {
  padding: 44rem; }

.p-45 {
  padding: 45rem; }

.p-46 {
  padding: 46rem; }

.p-47 {
  padding: 47rem; }

.p-48 {
  padding: 48rem; }

.p-49 {
  padding: 49rem; }

.p-50 {
  padding: 50rem; }

/*||=====> PADDING +Y-Y <=====||*/
.py-02e5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem; }

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.py-9 {
  padding-top: 9rem;
  padding-bottom: 9rem; }

.py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.py-11 {
  padding-top: 11rem;
  padding-bottom: 11rem; }

.py-12 {
  padding-top: 12rem;
  padding-bottom: 12rem; }

.py-13 {
  padding-top: 13rem;
  padding-bottom: 13rem; }

.py-14 {
  padding-top: 14rem;
  padding-bottom: 14rem; }

.py-15 {
  padding-top: 15rem;
  padding-bottom: 15rem; }

.py-16 {
  padding-top: 16rem;
  padding-bottom: 16rem; }

.py-17 {
  padding-top: 17rem;
  padding-bottom: 17rem; }

.py-18 {
  padding-top: 18rem;
  padding-bottom: 18rem; }

.py-19 {
  padding-top: 19rem;
  padding-bottom: 19rem; }

.py-20 {
  padding-top: 20rem;
  padding-bottom: 20rem; }

.py-21 {
  padding-top: 21rem;
  padding-bottom: 21rem; }

.py-22 {
  padding-top: 22rem;
  padding-bottom: 22rem; }

.py-23 {
  padding-top: 23rem;
  padding-bottom: 23rem; }

.py-24 {
  padding-top: 24rem;
  padding-bottom: 24rem; }

.py-25 {
  padding-top: 25rem;
  padding-bottom: 25rem; }

.py-26 {
  padding-top: 26rem;
  padding-bottom: 26rem; }

.py-27 {
  padding-top: 27rem;
  padding-bottom: 27rem; }

.py-28 {
  padding-top: 28rem;
  padding-bottom: 28rem; }

.py-29 {
  padding-top: 29rem;
  padding-bottom: 29rem; }

.py-30 {
  padding-top: 30rem;
  padding-bottom: 30rem; }

.py-31 {
  padding-top: 31rem;
  padding-bottom: 31rem; }

.py-32 {
  padding-top: 32rem;
  padding-bottom: 32rem; }

.py-33 {
  padding-top: 33rem;
  padding-bottom: 33rem; }

.py-34 {
  padding-top: 34rem;
  padding-bottom: 34rem; }

.py-35 {
  padding-top: 35rem;
  padding-bottom: 35rem; }

.py-36 {
  padding-top: 36rem;
  padding-bottom: 36rem; }

.py-37 {
  padding-top: 37rem;
  padding-bottom: 37rem; }

.py-38 {
  padding-top: 38rem;
  padding-bottom: 38rem; }

.py-39 {
  padding-top: 39rem;
  padding-bottom: 39rem; }

.py-40 {
  padding-top: 40rem;
  padding-bottom: 40rem; }

.py-41 {
  padding-top: 41rem;
  padding-bottom: 41rem; }

.py-42 {
  padding-top: 42rem;
  padding-bottom: 42rem; }

.py-43 {
  padding-top: 43rem;
  padding-bottom: 43rem; }

.py-44 {
  padding-top: 44rem;
  padding-bottom: 44rem; }

.py-45 {
  padding-top: 45rem;
  padding-bottom: 45rem; }

.py-46 {
  padding-top: 46rem;
  padding-bottom: 46rem; }

.py-47 {
  padding-top: 47rem;
  padding-bottom: 47rem; }

.py-48 {
  padding-top: 48rem;
  padding-bottom: 48rem; }

.py-49 {
  padding-top: 49rem;
  padding-bottom: 49rem; }

.py-50 {
  padding-top: 50rem;
  padding-bottom: 50rem; }

/*||=====> PADDING +Y-Y <=====||*/
.py-02e5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.py-7 {
  padding-top: 7rem;
  padding-bottom: 7rem; }

.py-8 {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.py-9 {
  padding-top: 9rem;
  padding-bottom: 9rem; }

.py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.py-11 {
  padding-top: 11rem;
  padding-bottom: 11rem; }

.py-12 {
  padding-top: 12rem;
  padding-bottom: 12rem; }

.py-13 {
  padding-top: 13rem;
  padding-bottom: 13rem; }

.py-14 {
  padding-top: 14rem;
  padding-bottom: 14rem; }

.py-15 {
  padding-top: 15rem;
  padding-bottom: 15rem; }

.py-16 {
  padding-top: 16rem;
  padding-bottom: 16rem; }

.py-17 {
  padding-top: 17rem;
  padding-bottom: 17rem; }

.py-18 {
  padding-top: 18rem;
  padding-bottom: 18rem; }

.py-19 {
  padding-top: 19rem;
  padding-bottom: 19rem; }

.py-20 {
  padding-top: 20rem;
  padding-bottom: 20rem; }

.py-21 {
  padding-top: 21rem;
  padding-bottom: 21rem; }

.py-22 {
  padding-top: 22rem;
  padding-bottom: 22rem; }

.py-23 {
  padding-top: 23rem;
  padding-bottom: 23rem; }

.py-24 {
  padding-top: 24rem;
  padding-bottom: 24rem; }

.py-25 {
  padding-top: 25rem;
  padding-bottom: 25rem; }

.py-26 {
  padding-top: 26rem;
  padding-bottom: 26rem; }

.py-27 {
  padding-top: 27rem;
  padding-bottom: 27rem; }

.py-28 {
  padding-top: 28rem;
  padding-bottom: 28rem; }

.py-29 {
  padding-top: 29rem;
  padding-bottom: 29rem; }

.py-30 {
  padding-top: 30rem;
  padding-bottom: 30rem; }

.py-31 {
  padding-top: 31rem;
  padding-bottom: 31rem; }

.py-32 {
  padding-top: 32rem;
  padding-bottom: 32rem; }

.py-33 {
  padding-top: 33rem;
  padding-bottom: 33rem; }

.py-34 {
  padding-top: 34rem;
  padding-bottom: 34rem; }

.py-35 {
  padding-top: 35rem;
  padding-bottom: 35rem; }

.py-36 {
  padding-top: 36rem;
  padding-bottom: 36rem; }

.py-37 {
  padding-top: 37rem;
  padding-bottom: 37rem; }

.py-38 {
  padding-top: 38rem;
  padding-bottom: 38rem; }

.py-39 {
  padding-top: 39rem;
  padding-bottom: 39rem; }

.py-40 {
  padding-top: 40rem;
  padding-bottom: 40rem; }

.py-41 {
  padding-top: 41rem;
  padding-bottom: 41rem; }

.py-42 {
  padding-top: 42rem;
  padding-bottom: 42rem; }

.py-43 {
  padding-top: 43rem;
  padding-bottom: 43rem; }

.py-44 {
  padding-top: 44rem;
  padding-bottom: 44rem; }

.py-45 {
  padding-top: 45rem;
  padding-bottom: 45rem; }

.py-46 {
  padding-top: 46rem;
  padding-bottom: 46rem; }

.py-47 {
  padding-top: 47rem;
  padding-bottom: 47rem; }

.py-48 {
  padding-top: 48rem;
  padding-bottom: 48rem; }

.py-49 {
  padding-top: 49rem;
  padding-bottom: 49rem; }

.py-50 {
  padding-top: 50rem;
  padding-bottom: 50rem; }

/*||=====> PADDING +Y <=====||*/
.pt-02e5 {
  padding-top: 0.5rem; }

.pt-0 {
  padding-top: 0rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pt-6 {
  padding-top: 6rem; }

.pt-7 {
  padding-top: 7rem; }

.pt-8 {
  padding-top: 8rem; }

.pt-9 {
  padding-top: 9rem; }

.pt-10 {
  padding-top: 10rem; }

.pt-11 {
  padding-top: 11rem; }

.pt-12 {
  padding-top: 12rem; }

.pt-13 {
  padding-top: 13rem; }

.pt-14 {
  padding-top: 14rem; }

.pt-15 {
  padding-top: 15rem; }

.pt-16 {
  padding-top: 16rem; }

.pt-17 {
  padding-top: 17rem; }

.pt-18 {
  padding-top: 18rem; }

.pt-19 {
  padding-top: 19rem; }

.pt-20 {
  padding-top: 20rem; }

.pt-21 {
  padding-top: 21rem; }

.pt-22 {
  padding-top: 22rem; }

.pt-23 {
  padding-top: 23rem; }

.pt-24 {
  padding-top: 24rem; }

.pt-25 {
  padding-top: 25rem; }

.pt-26 {
  padding-top: 26rem; }

.pt-27 {
  padding-top: 27rem; }

.pt-28 {
  padding-top: 28rem; }

.pt-29 {
  padding-top: 29rem; }

.pt-30 {
  padding-top: 30rem; }

.pt-31 {
  padding-top: 31rem; }

.pt-32 {
  padding-top: 32rem; }

.pt-33 {
  padding-top: 33rem; }

.pt-34 {
  padding-top: 34rem; }

.pt-35 {
  padding-top: 35rem; }

.pt-36 {
  padding-top: 36rem; }

.pt-37 {
  padding-top: 37rem; }

.pt-38 {
  padding-top: 38rem; }

.pt-39 {
  padding-top: 39rem; }

.pt-40 {
  padding-top: 40rem; }

.pt-41 {
  padding-top: 41rem; }

.pt-42 {
  padding-top: 42rem; }

.pt-43 {
  padding-top: 43rem; }

.pt-44 {
  padding-top: 44rem; }

.pt-45 {
  padding-top: 45rem; }

.pt-46 {
  padding-top: 46rem; }

.pt-47 {
  padding-top: 47rem; }

.pt-48 {
  padding-top: 48rem; }

.pt-49 {
  padding-top: 49rem; }

.pt-50 {
  padding-top: 50rem; }

/*||=====> PADDING -Y <=====||*/
.pb-02e5 {
  padding-bottom: 0.5rem; }

.pb-0 {
  padding-bottom: 0rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pb-6 {
  padding-bottom: 6rem; }

.pb-7 {
  padding-bottom: 7rem; }

.pb-8 {
  padding-bottom: 8rem; }

.pb-9 {
  padding-bottom: 9rem; }

.pb-10 {
  padding-bottom: 10rem; }

.pb-11 {
  padding-bottom: 11rem; }

.pb-12 {
  padding-bottom: 12rem; }

.pb-13 {
  padding-bottom: 13rem; }

.pb-14 {
  padding-bottom: 14rem; }

.pb-15 {
  padding-bottom: 15rem; }

.pb-16 {
  padding-bottom: 16rem; }

.pb-17 {
  padding-bottom: 17rem; }

.pb-18 {
  padding-bottom: 18rem; }

.pb-19 {
  padding-bottom: 19rem; }

.pb-20 {
  padding-bottom: 20rem; }

.pb-21 {
  padding-bottom: 21rem; }

.pb-22 {
  padding-bottom: 22rem; }

.pb-23 {
  padding-bottom: 23rem; }

.pb-24 {
  padding-bottom: 24rem; }

.pb-25 {
  padding-bottom: 25rem; }

.pb-26 {
  padding-bottom: 26rem; }

.pb-27 {
  padding-bottom: 27rem; }

.pb-28 {
  padding-bottom: 28rem; }

.pb-29 {
  padding-bottom: 29rem; }

.pb-30 {
  padding-bottom: 30rem; }

.pb-31 {
  padding-bottom: 31rem; }

.pb-32 {
  padding-bottom: 32rem; }

.pb-33 {
  padding-bottom: 33rem; }

.pb-34 {
  padding-bottom: 34rem; }

.pb-35 {
  padding-bottom: 35rem; }

.pb-36 {
  padding-bottom: 36rem; }

.pb-37 {
  padding-bottom: 37rem; }

.pb-38 {
  padding-bottom: 38rem; }

.pb-39 {
  padding-bottom: 39rem; }

.pb-40 {
  padding-bottom: 40rem; }

.pb-41 {
  padding-bottom: 41rem; }

.pb-42 {
  padding-bottom: 42rem; }

.pb-43 {
  padding-bottom: 43rem; }

.pb-44 {
  padding-bottom: 44rem; }

.pb-45 {
  padding-bottom: 45rem; }

.pb-46 {
  padding-bottom: 46rem; }

.pb-47 {
  padding-bottom: 47rem; }

.pb-48 {
  padding-bottom: 48rem; }

.pb-49 {
  padding-bottom: 49rem; }

.pb-50 {
  padding-bottom: 50rem; }

/*||=====> PADDING +X-X <=====||*/
.px-02e5 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.px-0 {
  padding-right: 0rem;
  padding-left: 0rem; }

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.px-2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.px-3 {
  padding-right: 3rem;
  padding-left: 3rem; }

.px-4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.px-5 {
  padding-right: 5rem;
  padding-left: 5rem; }

.px-6 {
  padding-right: 6rem;
  padding-left: 6rem; }

.px-7 {
  padding-right: 7rem;
  padding-left: 7rem; }

.px-8 {
  padding-right: 8rem;
  padding-left: 8rem; }

.px-9 {
  padding-right: 9rem;
  padding-left: 9rem; }

.px-10 {
  padding-right: 10rem;
  padding-left: 10rem; }

.px-11 {
  padding-right: 11rem;
  padding-left: 11rem; }

.px-12 {
  padding-right: 12rem;
  padding-left: 12rem; }

.px-13 {
  padding-right: 13rem;
  padding-left: 13rem; }

.px-14 {
  padding-right: 14rem;
  padding-left: 14rem; }

.px-15 {
  padding-right: 15rem;
  padding-left: 15rem; }

.px-16 {
  padding-right: 16rem;
  padding-left: 16rem; }

.px-17 {
  padding-right: 17rem;
  padding-left: 17rem; }

.px-18 {
  padding-right: 18rem;
  padding-left: 18rem; }

.px-19 {
  padding-right: 19rem;
  padding-left: 19rem; }

.px-20 {
  padding-right: 20rem;
  padding-left: 20rem; }

.px-21 {
  padding-right: 21rem;
  padding-left: 21rem; }

.px-22 {
  padding-right: 22rem;
  padding-left: 22rem; }

.px-23 {
  padding-right: 23rem;
  padding-left: 23rem; }

.px-24 {
  padding-right: 24rem;
  padding-left: 24rem; }

.px-25 {
  padding-right: 25rem;
  padding-left: 25rem; }

.px-26 {
  padding-right: 26rem;
  padding-left: 26rem; }

.px-27 {
  padding-right: 27rem;
  padding-left: 27rem; }

.px-28 {
  padding-right: 28rem;
  padding-left: 28rem; }

.px-29 {
  padding-right: 29rem;
  padding-left: 29rem; }

.px-30 {
  padding-right: 30rem;
  padding-left: 30rem; }

.px-31 {
  padding-right: 31rem;
  padding-left: 31rem; }

.px-32 {
  padding-right: 32rem;
  padding-left: 32rem; }

.px-33 {
  padding-right: 33rem;
  padding-left: 33rem; }

.px-34 {
  padding-right: 34rem;
  padding-left: 34rem; }

.px-35 {
  padding-right: 35rem;
  padding-left: 35rem; }

.px-36 {
  padding-right: 36rem;
  padding-left: 36rem; }

.px-37 {
  padding-right: 37rem;
  padding-left: 37rem; }

.px-38 {
  padding-right: 38rem;
  padding-left: 38rem; }

.px-39 {
  padding-right: 39rem;
  padding-left: 39rem; }

.px-40 {
  padding-right: 40rem;
  padding-left: 40rem; }

.px-41 {
  padding-right: 41rem;
  padding-left: 41rem; }

.px-42 {
  padding-right: 42rem;
  padding-left: 42rem; }

.px-43 {
  padding-right: 43rem;
  padding-left: 43rem; }

.px-44 {
  padding-right: 44rem;
  padding-left: 44rem; }

.px-45 {
  padding-right: 45rem;
  padding-left: 45rem; }

.px-46 {
  padding-right: 46rem;
  padding-left: 46rem; }

.px-47 {
  padding-right: 47rem;
  padding-left: 47rem; }

.px-48 {
  padding-right: 48rem;
  padding-left: 48rem; }

.px-49 {
  padding-right: 49rem;
  padding-left: 49rem; }

.px-50 {
  padding-right: 50rem;
  padding-left: 50rem; }

/*||=====> PADDING +X <=====||*/
.pr-02e5 {
  padding-right: 0.5rem; }

.pr-0 {
  padding-right: 0rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.pr-4 {
  padding-right: 4rem; }

.pr-5 {
  padding-right: 5rem; }

.pr-6 {
  padding-right: 6rem; }

.pr-7 {
  padding-right: 7rem; }

.pr-8 {
  padding-right: 8rem; }

.pr-9 {
  padding-right: 9rem; }

.pr-10 {
  padding-right: 10rem; }

.pr-11 {
  padding-right: 11rem; }

.pr-12 {
  padding-right: 12rem; }

.pr-13 {
  padding-right: 13rem; }

.pr-14 {
  padding-right: 14rem; }

.pr-15 {
  padding-right: 15rem; }

.pr-16 {
  padding-right: 16rem; }

.pr-17 {
  padding-right: 17rem; }

.pr-18 {
  padding-right: 18rem; }

.pr-19 {
  padding-right: 19rem; }

.pr-20 {
  padding-right: 20rem; }

.pr-21 {
  padding-right: 21rem; }

.pr-22 {
  padding-right: 22rem; }

.pr-23 {
  padding-right: 23rem; }

.pr-24 {
  padding-right: 24rem; }

.pr-25 {
  padding-right: 25rem; }

.pr-26 {
  padding-right: 26rem; }

.pr-27 {
  padding-right: 27rem; }

.pr-28 {
  padding-right: 28rem; }

.pr-29 {
  padding-right: 29rem; }

.pr-30 {
  padding-right: 30rem; }

.pr-31 {
  padding-right: 31rem; }

.pr-32 {
  padding-right: 32rem; }

.pr-33 {
  padding-right: 33rem; }

.pr-34 {
  padding-right: 34rem; }

.pr-35 {
  padding-right: 35rem; }

.pr-36 {
  padding-right: 36rem; }

.pr-37 {
  padding-right: 37rem; }

.pr-38 {
  padding-right: 38rem; }

.pr-39 {
  padding-right: 39rem; }

.pr-40 {
  padding-right: 40rem; }

.pr-41 {
  padding-right: 41rem; }

.pr-42 {
  padding-right: 42rem; }

.pr-43 {
  padding-right: 43rem; }

.pr-44 {
  padding-right: 44rem; }

.pr-45 {
  padding-right: 45rem; }

.pr-46 {
  padding-right: 46rem; }

.pr-47 {
  padding-right: 47rem; }

.pr-48 {
  padding-right: 48rem; }

.pr-49 {
  padding-right: 49rem; }

.pr-50 {
  padding-right: 50rem; }

/*||=====> PADDING -X <=====||*/
.pl-02e5 {
  padding-left: 0.5rem; }

.pl-0 {
  padding-left: 0rem; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pl-4 {
  padding-left: 4rem; }

.pl-5 {
  padding-left: 5rem; }

.pl-6 {
  padding-left: 6rem; }

.pl-7 {
  padding-left: 7rem; }

.pl-8 {
  padding-left: 8rem; }

.pl-9 {
  padding-left: 9rem; }

.pl-10 {
  padding-left: 10rem; }

.pl-11 {
  padding-left: 11rem; }

.pl-12 {
  padding-left: 12rem; }

.pl-13 {
  padding-left: 13rem; }

.pl-14 {
  padding-left: 14rem; }

.pl-15 {
  padding-left: 15rem; }

.pl-16 {
  padding-left: 16rem; }

.pl-17 {
  padding-left: 17rem; }

.pl-18 {
  padding-left: 18rem; }

.pl-19 {
  padding-left: 19rem; }

.pl-20 {
  padding-left: 20rem; }

.pl-21 {
  padding-left: 21rem; }

.pl-22 {
  padding-left: 22rem; }

.pl-23 {
  padding-left: 23rem; }

.pl-24 {
  padding-left: 24rem; }

.pl-25 {
  padding-left: 25rem; }

.pl-26 {
  padding-left: 26rem; }

.pl-27 {
  padding-left: 27rem; }

.pl-28 {
  padding-left: 28rem; }

.pl-29 {
  padding-left: 29rem; }

.pl-30 {
  padding-left: 30rem; }

.pl-31 {
  padding-left: 31rem; }

.pl-32 {
  padding-left: 32rem; }

.pl-33 {
  padding-left: 33rem; }

.pl-34 {
  padding-left: 34rem; }

.pl-35 {
  padding-left: 35rem; }

.pl-36 {
  padding-left: 36rem; }

.pl-37 {
  padding-left: 37rem; }

.pl-38 {
  padding-left: 38rem; }

.pl-39 {
  padding-left: 39rem; }

.pl-40 {
  padding-left: 40rem; }

.pl-41 {
  padding-left: 41rem; }

.pl-42 {
  padding-left: 42rem; }

.pl-43 {
  padding-left: 43rem; }

.pl-44 {
  padding-left: 44rem; }

.pl-45 {
  padding-left: 45rem; }

.pl-46 {
  padding-left: 46rem; }

.pl-47 {
  padding-left: 47rem; }

.pl-48 {
  padding-left: 48rem; }

.pl-49 {
  padding-left: 49rem; }

.pl-50 {
  padding-left: 50rem; }

/*||=====> DIMENSION <=====||*/
/*||=====> WIDTH <=====||*/
.width-0 {
  width: 0rem; }

.width-1 {
  width: 1rem; }

.width-2 {
  width: 2rem; }

.width-3 {
  width: 3rem; }

.width-4 {
  width: 4rem; }

.width-5 {
  width: 5rem; }

.width-6 {
  width: 6rem; }

.width-7 {
  width: 7rem; }

.width-8 {
  width: 8rem; }

.width-9 {
  width: 9rem; }

.width-10 {
  width: 10rem; }

.width-11 {
  width: 11rem; }

.width-12 {
  width: 12rem; }

.width-13 {
  width: 13rem; }

.width-14 {
  width: 14rem; }

.width-15 {
  width: 15rem; }

.width-16 {
  width: 16rem; }

.width-17 {
  width: 17rem; }

.width-18 {
  width: 18rem; }

.width-19 {
  width: 19rem; }

.width-20 {
  width: 20rem; }

.width-21 {
  width: 21rem; }

.width-22 {
  width: 22rem; }

.width-23 {
  width: 23rem; }

.width-24 {
  width: 24rem; }

.width-25 {
  width: 25rem; }

.width-26 {
  width: 26rem; }

.width-27 {
  width: 27rem; }

.width-28 {
  width: 28rem; }

.width-29 {
  width: 29rem; }

.width-30 {
  width: 30rem; }

.width-31 {
  width: 31rem; }

.width-32 {
  width: 32rem; }

.width-33 {
  width: 33rem; }

.width-34 {
  width: 34rem; }

.width-35 {
  width: 35rem; }

.width-36 {
  width: 36rem; }

.width-37 {
  width: 37rem; }

.width-38 {
  width: 38rem; }

.width-39 {
  width: 39rem; }

.width-40 {
  width: 40rem; }

.width-41 {
  width: 41rem; }

.width-42 {
  width: 42rem; }

.width-43 {
  width: 43rem; }

.width-44 {
  width: 44rem; }

.width-45 {
  width: 45rem; }

.width-46 {
  width: 46rem; }

.width-47 {
  width: 47rem; }

.width-48 {
  width: 48rem; }

.width-49 {
  width: 49rem; }

.width-50 {
  width: 50rem; }

/*||=====> MAX WIDTH <=====||*/
.max-width-0 {
  max-width: 0rem; }

.max-width-1 {
  max-width: 1rem; }

.max-width-2 {
  max-width: 2rem; }

.max-width-3 {
  max-width: 3rem; }

.max-width-4 {
  max-width: 4rem; }

.max-width-5 {
  max-width: 5rem; }

.max-width-6 {
  max-width: 6rem; }

.max-width-7 {
  max-width: 7rem; }

.max-width-8 {
  max-width: 8rem; }

.max-width-9 {
  max-width: 9rem; }

.max-width-10 {
  max-width: 10rem; }

.max-width-11 {
  max-width: 11rem; }

.max-width-12 {
  max-width: 12rem; }

.max-width-13 {
  max-width: 13rem; }

.max-width-14 {
  max-width: 14rem; }

.max-width-15 {
  max-width: 15rem; }

.max-width-16 {
  max-width: 16rem; }

.max-width-17 {
  max-width: 17rem; }

.max-width-18 {
  max-width: 18rem; }

.max-width-19 {
  max-width: 19rem; }

.max-width-20 {
  max-width: 20rem; }

.max-width-21 {
  max-width: 21rem; }

.max-width-22 {
  max-width: 22rem; }

.max-width-23 {
  max-width: 23rem; }

.max-width-24 {
  max-width: 24rem; }

.max-width-25 {
  max-width: 25rem; }

.max-width-26 {
  max-width: 26rem; }

.max-width-27 {
  max-width: 27rem; }

.max-width-28 {
  max-width: 28rem; }

.max-width-29 {
  max-width: 29rem; }

.max-width-30 {
  max-width: 30rem; }

.max-width-31 {
  max-width: 31rem; }

.max-width-32 {
  max-width: 32rem; }

.max-width-33 {
  max-width: 33rem; }

.max-width-34 {
  max-width: 34rem; }

.max-width-35 {
  max-width: 35rem; }

.max-width-36 {
  max-width: 36rem; }

.max-width-37 {
  max-width: 37rem; }

.max-width-38 {
  max-width: 38rem; }

.max-width-39 {
  max-width: 39rem; }

.max-width-40 {
  max-width: 40rem; }

.max-width-41 {
  max-width: 41rem; }

.max-width-42 {
  max-width: 42rem; }

.max-width-43 {
  max-width: 43rem; }

.max-width-44 {
  max-width: 44rem; }

.max-width-45 {
  max-width: 45rem; }

.max-width-46 {
  max-width: 46rem; }

.max-width-47 {
  max-width: 47rem; }

.max-width-48 {
  max-width: 48rem; }

.max-width-49 {
  max-width: 49rem; }

.max-width-50 {
  max-width: 50rem; }

/*||=====> MIN WIDTH <=====||*/
.min-width-0 {
  min-width: 0rem; }

.min-width-1 {
  min-width: 1rem; }

.min-width-2 {
  min-width: 2rem; }

.min-width-3 {
  min-width: 3rem; }

.min-width-4 {
  min-width: 4rem; }

.min-width-5 {
  min-width: 5rem; }

.min-width-6 {
  min-width: 6rem; }

.min-width-7 {
  min-width: 7rem; }

.min-width-8 {
  min-width: 8rem; }

.min-width-9 {
  min-width: 9rem; }

.min-width-10 {
  min-width: 10rem; }

.min-width-11 {
  min-width: 11rem; }

.min-width-12 {
  min-width: 12rem; }

.min-width-13 {
  min-width: 13rem; }

.min-width-14 {
  min-width: 14rem; }

.min-width-15 {
  min-width: 15rem; }

.min-width-16 {
  min-width: 16rem; }

.min-width-17 {
  min-width: 17rem; }

.min-width-18 {
  min-width: 18rem; }

.min-width-19 {
  min-width: 19rem; }

.min-width-20 {
  min-width: 20rem; }

.min-width-21 {
  min-width: 21rem; }

.min-width-22 {
  min-width: 22rem; }

.min-width-23 {
  min-width: 23rem; }

.min-width-24 {
  min-width: 24rem; }

.min-width-25 {
  min-width: 25rem; }

.min-width-26 {
  min-width: 26rem; }

.min-width-27 {
  min-width: 27rem; }

.min-width-28 {
  min-width: 28rem; }

.min-width-29 {
  min-width: 29rem; }

.min-width-30 {
  min-width: 30rem; }

.min-width-31 {
  min-width: 31rem; }

.min-width-32 {
  min-width: 32rem; }

.min-width-33 {
  min-width: 33rem; }

.min-width-34 {
  min-width: 34rem; }

.min-width-35 {
  min-width: 35rem; }

.min-width-36 {
  min-width: 36rem; }

.min-width-37 {
  min-width: 37rem; }

.min-width-38 {
  min-width: 38rem; }

.min-width-39 {
  min-width: 39rem; }

.min-width-40 {
  min-width: 40rem; }

.min-width-41 {
  min-width: 41rem; }

.min-width-42 {
  min-width: 42rem; }

.min-width-43 {
  min-width: 43rem; }

.min-width-44 {
  min-width: 44rem; }

.min-width-45 {
  min-width: 45rem; }

.min-width-46 {
  min-width: 46rem; }

.min-width-47 {
  min-width: 47rem; }

.min-width-48 {
  min-width: 48rem; }

.min-width-49 {
  min-width: 49rem; }

.min-width-50 {
  min-width: 50rem; }

/*||=====> HEIGHT <=====||*/
.height-0 {
  height: 0rem; }

.height-1 {
  height: 1rem; }

.height-2 {
  height: 2rem; }

.height-3 {
  height: 3rem; }

.height-4 {
  height: 4rem; }

.height-5 {
  height: 5rem; }

.height-6 {
  height: 6rem; }

.height-7 {
  height: 7rem; }

.height-8 {
  height: 8rem; }

.height-9 {
  height: 9rem; }

.height-10 {
  height: 10rem; }

.height-11 {
  height: 11rem; }

.height-12 {
  height: 12rem; }

.height-13 {
  height: 13rem; }

.height-14 {
  height: 14rem; }

.height-15 {
  height: 15rem; }

.height-16 {
  height: 16rem; }

.height-17 {
  height: 17rem; }

.height-18 {
  height: 18rem; }

.height-19 {
  height: 19rem; }

.height-20 {
  height: 20rem; }

.height-21 {
  height: 21rem; }

.height-22 {
  height: 22rem; }

.height-23 {
  height: 23rem; }

.height-24 {
  height: 24rem; }

.height-25 {
  height: 25rem; }

.height-26 {
  height: 26rem; }

.height-27 {
  height: 27rem; }

.height-28 {
  height: 28rem; }

.height-29 {
  height: 29rem; }

.height-30 {
  height: 30rem; }

.height-31 {
  height: 31rem; }

.height-32 {
  height: 32rem; }

.height-33 {
  height: 33rem; }

.height-34 {
  height: 34rem; }

.height-35 {
  height: 35rem; }

.height-36 {
  height: 36rem; }

.height-37 {
  height: 37rem; }

.height-38 {
  height: 38rem; }

.height-39 {
  height: 39rem; }

.height-40 {
  height: 40rem; }

.height-41 {
  height: 41rem; }

.height-42 {
  height: 42rem; }

.height-43 {
  height: 43rem; }

.height-44 {
  height: 44rem; }

.height-45 {
  height: 45rem; }

.height-46 {
  height: 46rem; }

.height-47 {
  height: 47rem; }

.height-48 {
  height: 48rem; }

.height-49 {
  height: 49rem; }

.height-50 {
  height: 50rem; }

/*||=====> MAX HEIGHT <=====||*/
.max-height-0 {
  max-height: 0rem; }

.max-height-1 {
  max-height: 1rem; }

.max-height-2 {
  max-height: 2rem; }

.max-height-3 {
  max-height: 3rem; }

.max-height-4 {
  max-height: 4rem; }

.max-height-5 {
  max-height: 5rem; }

.max-height-6 {
  max-height: 6rem; }

.max-height-7 {
  max-height: 7rem; }

.max-height-8 {
  max-height: 8rem; }

.max-height-9 {
  max-height: 9rem; }

.max-height-10 {
  max-height: 10rem; }

.max-height-11 {
  max-height: 11rem; }

.max-height-12 {
  max-height: 12rem; }

.max-height-13 {
  max-height: 13rem; }

.max-height-14 {
  max-height: 14rem; }

.max-height-15 {
  max-height: 15rem; }

.max-height-16 {
  max-height: 16rem; }

.max-height-17 {
  max-height: 17rem; }

.max-height-18 {
  max-height: 18rem; }

.max-height-19 {
  max-height: 19rem; }

.max-height-20 {
  max-height: 20rem; }

.max-height-21 {
  max-height: 21rem; }

.max-height-22 {
  max-height: 22rem; }

.max-height-23 {
  max-height: 23rem; }

.max-height-24 {
  max-height: 24rem; }

.max-height-25 {
  max-height: 25rem; }

.max-height-26 {
  max-height: 26rem; }

.max-height-27 {
  max-height: 27rem; }

.max-height-28 {
  max-height: 28rem; }

.max-height-29 {
  max-height: 29rem; }

.max-height-30 {
  max-height: 30rem; }

.max-height-31 {
  max-height: 31rem; }

.max-height-32 {
  max-height: 32rem; }

.max-height-33 {
  max-height: 33rem; }

.max-height-34 {
  max-height: 34rem; }

.max-height-35 {
  max-height: 35rem; }

.max-height-36 {
  max-height: 36rem; }

.max-height-37 {
  max-height: 37rem; }

.max-height-38 {
  max-height: 38rem; }

.max-height-39 {
  max-height: 39rem; }

.max-height-40 {
  max-height: 40rem; }

.max-height-41 {
  max-height: 41rem; }

.max-height-42 {
  max-height: 42rem; }

.max-height-43 {
  max-height: 43rem; }

.max-height-44 {
  max-height: 44rem; }

.max-height-45 {
  max-height: 45rem; }

.max-height-46 {
  max-height: 46rem; }

.max-height-47 {
  max-height: 47rem; }

.max-height-48 {
  max-height: 48rem; }

.max-height-49 {
  max-height: 49rem; }

.max-height-50 {
  max-height: 50rem; }

/*||=====> MIN HEIGHT <=====||*/
.min-height-0 {
  min-height: 0rem; }

.min-height-1 {
  min-height: 1rem; }

.min-height-2 {
  min-height: 2rem; }

.min-height-3 {
  min-height: 3rem; }

.min-height-4 {
  min-height: 4rem; }

.min-height-5 {
  min-height: 5rem; }

.min-height-6 {
  min-height: 6rem; }

.min-height-7 {
  min-height: 7rem; }

.min-height-8 {
  min-height: 8rem; }

.min-height-9 {
  min-height: 9rem; }

.min-height-10 {
  min-height: 10rem; }

.min-height-11 {
  min-height: 11rem; }

.min-height-12 {
  min-height: 12rem; }

.min-height-13 {
  min-height: 13rem; }

.min-height-14 {
  min-height: 14rem; }

.min-height-15 {
  min-height: 15rem; }

.min-height-16 {
  min-height: 16rem; }

.min-height-17 {
  min-height: 17rem; }

.min-height-18 {
  min-height: 18rem; }

.min-height-19 {
  min-height: 19rem; }

.min-height-20 {
  min-height: 20rem; }

.min-height-21 {
  min-height: 21rem; }

.min-height-22 {
  min-height: 22rem; }

.min-height-23 {
  min-height: 23rem; }

.min-height-24 {
  min-height: 24rem; }

.min-height-25 {
  min-height: 25rem; }

.min-height-26 {
  min-height: 26rem; }

.min-height-27 {
  min-height: 27rem; }

.min-height-28 {
  min-height: 28rem; }

.min-height-29 {
  min-height: 29rem; }

.min-height-30 {
  min-height: 30rem; }

.min-height-31 {
  min-height: 31rem; }

.min-height-32 {
  min-height: 32rem; }

.min-height-33 {
  min-height: 33rem; }

.min-height-34 {
  min-height: 34rem; }

.min-height-35 {
  min-height: 35rem; }

.min-height-36 {
  min-height: 36rem; }

.min-height-37 {
  min-height: 37rem; }

.min-height-38 {
  min-height: 38rem; }

.min-height-39 {
  min-height: 39rem; }

.min-height-40 {
  min-height: 40rem; }

.min-height-41 {
  min-height: 41rem; }

.min-height-42 {
  min-height: 42rem; }

.min-height-43 {
  min-height: 43rem; }

.min-height-44 {
  min-height: 44rem; }

.min-height-45 {
  min-height: 45rem; }

.min-height-46 {
  min-height: 46rem; }

.min-height-47 {
  min-height: 47rem; }

.min-height-48 {
  min-height: 48rem; }

.min-height-49 {
  min-height: 49rem; }

.min-height-50 {
  min-height: 50rem; }

body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; }

/*----->_[ ALIGN ]_<-----*/
.txt-center {
  text-align: center; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

/*----->_[ COLOR ]_<-----*/
.black {
  color: black; }

.orangered {
  color: orangered; }

/*----->_[ BACKGROUND COLOR ]_<-----*/
.bg-color-1 {
  background-color: #6f4b14c4; }

.bg-color-2 {
  background-color: #573a057a; }

.border-form {
  border-style: solid;
  border-radius: 2rem; }

/*----->_[ DISPLAY ]_<-----*/
.hidden {
  display: none; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.r-flex {
  display: flex;
  flex-direction: row; }

.c-flex {
  display: flex;
  flex-direction: column; }

.wrap {
  flex-wrap: wrap; }

.nowrap {
  flex-wrap: nowrap; }

/*----->_[ JUSTIFY ]_<-----*/
.justify-content-center {
  justify-content: center; }

.justify-content-around {
  justify-content: space-around; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-evenly {
  justify-content: space-evenly; }

.justify-content-flex-end {
  justify-content: flex-end; }

.justify-self-start {
  justify-self: flex-start; }

.justify-self-center {
  justify-self: center; }

.justify-self-end {
  justify-self: flex-end; }

/*----->_[ ALIGN ]_<-----*/
.align-items-start {
  align-items: flex-start; }

.align-items-center {
  align-items: center; }

.align-items-end {
  align-items: flex-end; }

.align-self-center {
  align-self: center; }

/*----->_[ POSITION ]_<-----*/
.relative {
  position: relative; }

.absolute {
  position: absolute; }

#navbarMenu {
  display: flex;
  justify-content: space-around;
  font-size: larger;
  font-weight: bold; }
  #navbarMenu a {
    text-decoration: none;
    color: black; }
  #navbarMenu li {
    list-style: none;
    color: black;
    text-decoration: none;
    margin-right: 2rem;
    min-height: 2rem; }

#dropdownCategoryMenu {
  margin-top: 17rem;
  margin-right: 12rem;
  background-color: rgba(245, 245, 245, 0.5);
  border-style: none;
  border-color: whitesmoke;
  border-radius: 5%; }
  #dropdownCategoryMenu li {
    margin-top: 1rem;
    margin-right: 2rem;
    border-style: none; }

.productCard {
  max-width: 15.625rem;
  min-height: 22.625rem; }

.productImage {
  width: 15.625rem;
  height: 15.625rem; }

.productToCardButton {
  padding: 1rem; }

.minSpaceDescriptionField {
  min-height: 5.938rem; }

.minSpaceTitleField {
  min-height: 2.375rem; }

.ani-appear {
  animation-duration: 3s;
  animation-name: appear; }

@keyframes appear {
  0% {
    opacity: 0; }
  50% {
    opacity: 50; }
  100% {
    opacity: 100; } }

.ani-disappear {
  animation-duration: 1.5s;
  animation-name: disappear; }

@keyframes disappear {
  0% {
    opacity: 100; }
  50% {
    opacity: 50; }
  100% {
    opacity: 0; } }

.left-to-right {
  animation-duration: 2s;
  animation-name: left-to-right; }

@keyframes left-to-right {
  0% {
    margin-right: 50vw; }
  100% {
    margin-left: 0; } }

.bottom-to-top {
  animation-duration: 2s;
  animation-name: bottom-to-top; }

@keyframes bottom-to-top {
  0% {
    margin-top: 10vw;
    background-color: grey; }
  100% {
    margin-top: 0;
    margin-bottom: 2rem; } }

.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease; }

@keyframes bounce {
  0% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0rem); } }

#navbarMenu li:hover {
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.5); }

.productCard:hover {
  background-color: #acabaa7a;
  box-shadow: inset 0 -2px 0 5px rgba(0, 0, 0, 0.5); }
